.box{     
    width: 500px;     
    height: 150px;     
    background: rgba(0, 0, 0, 0.4);     
    padding: 57px;     
    text-align: center;     
    margin: auto;     
    color: white;     
    font-family: 'Century Gothic',sans-serif;     
    margin-top: 20px;   
    } 
